/* ------ Custom and Redefined Style ------ */
/* --- Typography --- */
.small { font-size: 14px; }

/* --- Text --- */
.text-primary { color: #404074 !important; }

/* --- Background --- */
.bg-primary { background: #404074 !important; }

/* --- Spacing --- */
.m-min-1 { margin: -0.25rem; }
.my-min-1 { margin-top: -0.25rem; margin-bottom: -0.25rem; }
.mx-min-1 { margin-left: -0.25rem; margin-right: -0.25rem; }
.mt-min-1 { margin-top: -0.25rem; }
.mb-min-1 { margin-bottom: -0.25rem; }
.ml-min-1 { margin-left: -0.25rem; }
.mr-min-1 { margin-right: -0.25rem; }
.m-min-2 { margin: -0.5rem; }
.my-min-2 { margin-top: -0.5rem; margin-bottom: -0.5rem; }
.mx-min-2 { margin-left: -0.5rem; margin-right: -0.5rem; }
.mt-min-2 { margin-top: -0.5rem; }
.mb-min-2 { margin-bottom: -0.5rem; }
.ml-min-2 { margin-left: -0.5rem; }
.mr-min-2 { margin-right: -0.5rem; }
.m-min-3 { margin: -1rem; }
.my-min-3 { margin-top: -1rem; margin-bottom: -1rem; }
.mx-min-3 { margin-left: -1rem; margin-right: -1rem }
.mt-min-3 { margin-top: -1rem; }
.mb-min-3 { margin-bottom: -1rem; }
.ml-min-3 { margin-left: -1rem; }
.mr-min-3 { margin-right: -1rem; }
.m-min-4 { margin: -1.5rem; }
.my-min-4 { margin-top: -1.5rem; margin-bottom: -1.5rem; }
.mx-min-4 { margin-left: -1.5rem; margin-right: -1.5rem; }
.mt-min-4 { margin-top: -1.5rem; }
.mb-min-4 { margin-bottom: -1.5rem; }
.ml-min-4 { margin-left: -1.5rem; }
.mr-min-4 { margin-right: -1.5rem; }
.m-min-5 { margin: -3rem; }
.my-min-5 { margin-top: -3rem; margin-bottom: -3rem; }
.mx-min-5 { margin-left: -3rem; margin-right: -3rem; }
.mt-min-5 { margin-top: -3rem; }
.mb-min-5 { margin-bottom: -3rem; }
.ml-min-5 { margin-left: -3rem; }
.mr-min-5 { margin-right: -3rem; }

/* - Pixel Spacing - */
/* m */
.mb-60px { margin-bottom: 60px; }
.mb-30px { margin-bottom: 30px; }

/* p */
.p-30px { padding: 30px; }
.py-30px { padding-top: 30px; padding-bottom: 30px; }
.py-60px { padding-top: 60px; padding-bottom: 60px; }
.py-90px { padding-top: 90px; padding-bottom: 90px; }

/* Rounding */
.rounded-1 { border-radius: 1rem !important; }
.rounded-top-1 { border-top-left-radius: 1rem !important; border-top-right-radius: 1rem !important; }
.rounded-bottom-1 { border-bottom-left-radius: 1rem !important; border-bottom-right-radius: 1rem !important; }
.rounded-2 { border-radius: 0.5rem !important; }
.rounded-top-2 { border-top-left-radius: 0.5rem !important; border-top-right-radius: 0.5rem !important; }
.rounded-bottom-2 { border-bottom-left-radius: 0.5rem !important; border-bottom-right-radius: 0.5rem !important; }
.rounded-3 { border-radius: 0.25rem !important; }
.rounded-top-3 { border-top-left-radius: 0.25rem !important; border-top-right-radius: 0.25rem !important; }
.rounded-bottom-3 { border-bottom-left-radius: 0.25rem !important; border-bottom-right-radius: 0.25rem !important; }

/* --- Button --- */
.btn {
	font-size: 14px;
	/*font-weight: bold;*/
	padding: 0.75rem 1.5rem;

	border: none;
	border-radius: 1000px;
}

.btn-primary { background: #404074 !important; }
.btn-light { background: #fff; }

.btn-outline-primary { color: #404074; }

/* --- Square --- */
.square {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 70px;
	height: 70px;
}

.square-sm {
	width: 40px;
	height: 40px;
}

/* ------ Navbar ------ */
#navbar { z-index: 1; }
#navbar .navbar-nav .nav-item .nav-link {
	color: #212529;
	font-size: 14px;
	/*font-weight: bold;*/
	padding: 0.75rem 1rem;
}

#navbar .navbar-nav .nav-item .nav-link:hover {
	background: rgba(0,0,0,0.033);
}

/* ------ Hero ------ */
#hero {

}

/* ------ Footer ------ */
#footer .footer-links .nav .nav-item .nav-link {
	color: #fff;
	padding: 0.5rem 0;
}

#footer .footer-social-media .nav .nav-item .nav-link {
	display: flex;
	justify-content: center;
	align-items: center;
	color: #404074;
	font-weight: bold;
	background: #fff;
	width: 32px;
	height: 32px;
	margin: 1rem;
	border-radius: 1000px;
}